.viewing-popup__title {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    transition-duration: .2s;
    position: absolute;
    left: 0;
    bottom: -10;
    color: white;
}