.popup__set-input {
    display: flex;
    gap: 28px;
    flex-direction: column;
    width: 358px;
    margin: auto 36px;
}

@media screen and (max-width: 460px) {
    .popup__set-input {
        width: 238px;
        margin: auto 36px;
    }
}