.profile__avatar {
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
    margin: auto 30px auto 0;
    transition-duration: .2s;
}

@media screen and (max-width: 650px) {
    .profile__avatar {
        display: block;
        margin: auto;
        transition-timing-function: ease-in-out;
    }
}