.profile {
    max-width: 880px;
    display: flex;
    margin: 40px auto 51px;
    transition-duration: .2s;
}

@media screen and (max-width: 650px) {
    .profile {
        display: block;
        max-width: 282px;
        margin: 42px auto 36px;
        transition-timing-function: ease-in-out;
    }
}