.popup__close {
    background-image: url(../../../images/Close-Icon.svg);
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 2;
    right: -40px;
    top: -40px;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .2s;
    background-size: contain;
    background-repeat: no-repeat;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 550px) {
    .popup__close {
        top: -42px;
        right: 0;
        transition-timing-function: ease-in-out;
    }
}

@media screen and (max-width: 350px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -36px;
    }
}